<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">

    <title>{% block title %}Liashas' math{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap"
      rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/katex.min.css">

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/katex.min.js">
    </script>

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.47/dist/contrib/auto-render.min.js">
    </script>

    <script defer src="{{ url_for('static', path='/js/katex_init.js') }}">
    </script>

    {% block extra_head %}{% endblock %}
</head>

<body>
    <header class="site-header">
        <div class="container header-inner">
            <a class="logo logo-soft" href="/">
                liasha's math
            </a>

            <nav class="main-nav">
                <a class="leave-attempt-link" href="/select-topic/theory">Теория</a>
                <a class="leave-attempt-link" href="/select-topic/practice">Практика</a>
            </nav>
        </div>
    </header>

    <main class="container page-content">
        {% block content %}{% endblock %}
    </main>
</body>

</html>